@page "/Account/ForgotPassword"
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/login-page.css" />
}

<div class="login__wrapper">
    <div class="login-block container">
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <h2 class="login-block__title" style="margin-bottom: 15px;">Enter your email.</h2>
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <label asp-for="Input.Email" class="login-block__label form-label" style="display: none;"></label>
                        <input asp-for="Input.Email" class="login-block__input form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" style="margin-bottom: 15px;" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary login-block__btn-login">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
