@page
@model Microsoft.AspNetCore.Identity.UI.V5.Pages.Account.Internal.ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/login-page.css" />
}

<div class="login__wrapper">
    <div class="login-block container">
        <p class="login-block__title" style="margin-bottom: 0;">Please check your email to reset your password.</p>
    </div>
</div>