@page "/Account/Login"
@model Microsoft.AspNetCore.Identity.UI.V5.Pages.Account.Internal.LoginModel

@{
    ViewData["Title"] = "Log in";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/login-page.css" />
}

<div class="login__wrapper">
    <div class="login-block container">
        <div class="col-md-4">
            <section>
                <form id="account" method="post">
                    <h2 class="login-block__title">Sign in</h2>
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="login-block__input-block form-floating mb-3">
                        <label asp-for="Input.Email" class="login-block__label form-label">Email address</label><br>
                        <input asp-for="Input.Email" class="login-block__input form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="login-block__input-block form-floating mb-3">
                        <label asp-for="Input.Password" class="login-block__label form-label">Password</label><br>
                        <input asp-for="Input.Password" class="login-block__input form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="login-block__input-block login-block__checkbox-block checkbox mb-3">
                        <button id="login-submit" type="submit" class="login-block__btn-login w-100 btn btn-lg btn-primary">Log in</button>
                        <label asp-for="Input.RememberMe" class="login-block__checkbox form-label">
                            <input class="login-block__inp--checkbox form-check-input" asp-for="Input.RememberMe" type="checkbox" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                    <div class="login-block__input-block login-block__desk-wrapper">
                        <a id="forgot-password" class="login-block__desk" asp-page="./ForgotPassword">Forgot your password?</a>
                        <a asp-page="./Register" class="login-block__desk" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        <a id="resend-confirmation" class="login-block__desk" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
