@page
@model Microsoft.AspNetCore.Identity.UI.V5.Pages.Account.Internal.ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/login-page.css" />
}

@* <h2>Enter your email.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Resend</button>
        </form>
    </div>
</div> *@

<div class="login__wrapper">
    <div class="login-block container">
        <div class="row">
            <div class="col-md-4">
                <form method="post">
                    <h2 class="login-block__title" style="border: none;">@ViewData["Title"].</h2>
                    <h2 class="login-block__title" style="margin-bottom: 15px;">Enter your email.</h2>
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="login-block__input form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" style="margin-bottom: 15px;" />
                        <label asp-for="Input.Email" class="login-block__label form-label"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary login-block__btn-login">Resend</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
