@page
@model Microsoft.AspNetCore.Identity.UI.V5.Pages.Account.Internal.ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/login-page.css" />
}

<div class="login__wrapper">
    <div class="login-block container">
        <p class="login-block__title" style="margin-bottom: 0;">
            Your password has been reset. Please <br><a asp-page="./Login" class="login-block__btn-login" style="display: inline-block;margin: 15px 0 0 0;">click here to log in</a>
        </p>
    </div>
</div>
