@{
    ViewData["Title"] = "Create new product";
    Layout = "../Admin/_AdminLayout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/admin/create-page.css">
}

<main class="main">
    <div class="main-container">
        <div class="main__title-block">
            <p class="main__title">Создание товара</p>
        </div>
        <form class="main__form" id="form">
            <section class="form__view">
                <p class="form__title">Информация о товаре</p>

                <ul class="categories__list">
                    Выбранные категории:
                </ul>
                <div class="form__categories">
                    <input class="form__input form__input--select" type="text" placeholder="Категории" name="Categories">
                    <a class="form__categories--btn">+</a>
                </div>

                <input type="text" name="Name" class="form__input" placeholder="Название *">
                <input type="text" name="Manufacturer" class="form__input" placeholder="Производитель">
                <input type="text" name="VendorCode" class="form__input" placeholder="Артикул *">
                <textarea type="text" name="Description" class="form__input form__input--area" placeholder="Описание" maxlength="500"></textarea>
                <div class="form__block-duo">
                    <input type="number" name="Price" class="form__input" placeholder="Цена *">
                    <input type="number" name="PriceWithoutDiscount" class="form__input" placeholder="Цена до скидки">
                </div>
                <div class="form__checkbox">
                    <input type="checkbox" name="IsTrending" id="IsTrending">
                    <label for="IsTrending">Добавить продукт в тренды?</label>
                </div>
                <div class="form__wrapper-radio">
                    <p class="block-radio__title">НДС (налог на добавочную стоймость) *</p>
                    <div class="form__block-radio">
                        <div class="form__radio">
                            <input type="radio" name="ValueTax" id="nds10" class="form__radio-input" value="10">
                            <label class="form__radio-tile" for="nds10">10%</label>
                        </div>
                        <div class="form__radio">
                            <input type="radio" name="ValueTax" id="nds20" class="form__radio-input" value="20">
                            <label class="form__radio-tile" for="nds20">20%</label>
                        </div>
                        <div class="form__radio">
                            <input type="radio" name="ValueTax" id="ndsNone" class="form__radio-input" value="0" checked>
                            <label class="form__radio-tile" for="ndsNone">Не облагается</label>
                        </div>
                    </div>
                </div>
                <p class="form__title">Габариты и вес</p>
                <input class="form__input form__input--select" type="text" placeholder="Длина упаковки, мм" name="Length">
                <input class="form__input form__input--select" type="text" placeholder="Ширина упаковки, мм" name="Width">
                <input class="form__input form__input--select" type="text" placeholder="Высота упаковки, мм" name="Height">
                <input class="form__input form__input--select" type="text" placeholder="Вес упаковки, г" name="Weight">
                <input class="form__input form__input--file" type="file" name="picture" id="picture">
                
                 <p class="form__title">Фото</p>
                <div class="form__wrapper-photo">
                    <div class="form__photo-wrapper">
                        <div class="remove-photo__plus">X</div>
                        <label for="picture" class="form__photo--main form__photo-label"><div></div>
                            <img class="form__photo-label--img" src="~/img/image.png">
                        </label>
                    </div>

                    <div class="form__photo-blocks">
                        @for (int i = 2; i < 8; i++)
                        {
                            <div class="form__photo-wrapper">
                                <div class="remove-photo__plus">X</div>
                                <label for="Image@(i)" class="form__photo form__photo-label"><img class="form__photo-label--img" src="/img/image.png"></label>
                                <input class="form__input form__input--file" type="file" name="Image@(i)" id="Image@(i)">
                            </div>
                        }
                    </div>
                </div>
                <a class="form__btn-submit">Завершить создание</a>
            </section>
        </form>
    </div>
</main>

@section Scripts {
    <script src="~/js/admin/product.js"></script>
    <script src="~/js/admin/create.js"></script>
}
