body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    background-color: #F6F7FB;
}

h1, h2, h3, h4, h5, h6, ul, ol, li, p {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
    display: block;
}

.body-nav {
    background-color: #fff;
    padding: 15px 0;
    border-bottom: 1px solid #dddddd;
    position: relative;
    box-sizing: border-box;
}

.body-nav__list {
    margin: 0 0 0 15px;
    width: 85%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 0 15px;
}

.body-nav__item {
    margin-right: 45px;
}

    .body-nav__item:nth-child(1) a {
        color: #dddddd;
        pointer-events: none;
    }

.body-nav__link {
    margin: 8px 0;
    color: #333;
    font-size: 20px;
    font-weight: 5;
    transition: .3s;
}

    .body-nav__link:hover {
        color: #777;
    }

.body-nav__link--active {
    color: #216BFF;
    font-weight: 600;
}

.body-nav__item--more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    transition: .3s;
}

    .body-nav__item--more:hover {
        background-color: #eeeeee;
        border-radius: 5px;
        /* border: 1px solid #333; */
    }

.body-nav__link--more {
    transform: rotate(90deg);
    font-weight: 600;
    padding: 0;
    color: #333;
}

.item--more__full-nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    width: 100%;
    padding: 25px 0;
    background-color: #fff;
    transition: .3s;
    display: none;
}

.full-nav__list {
    padding: 25px 50px;
    border-right: 1px solid #dddddd;
}

    .full-nav__list:last-child {
        border-right: none;
    }

.full-nav__title {
    font-size: 24px;
    color: #216BFF;
    font-weight: 600;
}

.full-nav__item {
}

.full-nav__link {
}

.main {
    color: #333;
}

.main-container {
    padding: 25px 0;
    max-width: 90%;
    margin: 0 auto;
}

.main__title-block {
}

.main__title-block--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-block__btn {
    background-color: #216BFF;
    border: none;
    border-radius: 8px;
    color: #fff;
    padding: 5px 25px;
    cursor: pointer;
}

.title-block__btn--disable {
    color: #949494;
    background: #cccccc;
    pointer-events: none;
}

.main__title {
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 600;
}

.main-nav {
}

.main-nav__list {
    display: flex;
}

.main-nav__item {
    margin-left: 25px;
}

.main-nav__item:first-child {
    margin: 0;
}

.main-nav__link {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.main-nav__span {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    margin-right: 15px;
    background-color: #216BFF;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
}

.main-nav__link--disable {
    color: #d4d4d4;
}

.main-nav__span--disable {
    background-color: #d4d4d4;
}
